<!DOCTYPE html>
<html>
<head>

</head>

Welcome to the reference page

<body>
    <div>
        <form action="/reference" method="POST" onclick>
        
            <label for="bookingid"> bookingid * : </label>
            <input type="text" name="bookingid" id="abookingidge" required="">

        
            <button>Check Reference</button>
        </form>
    </div>

    <div>
 
    </div>    
</body>
        
</html>