html {
    height: 100vh;
}

body {
    background-image: linear-gradient(#F4d03f, #16A085);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.navbutton {
    margin-left: 10px;
    font-family: 'DM Serif Text', serif;
    border: 2px solid white;
    padding: 10px 30px;
}

.navbutton:hover {
    background-color: #ff725c;
}

main {
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #ff725c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'DM Serif Text', serif;
    font-size: 1rem;
    margin-top: 15px;
}

.submit-button:hover {
    background-color: #ff725cad;
}

/* Form style */
.lines {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.booking input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}


h1 {
    font-size: 3.25rem;
    font-family: 'DM Serif Text', serif;
    margin: 1rem 0;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #F4D03f;
}