html {
    height: 100%;
}

body {
    background-image: linear-gradient(#f4d03f, #16a085);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

main {
    box-sizing: border-box;
}

.navbutton {
    margin-left: 10px;
    font-family: 'DM Serif Text', serif;
    border: 2px solid white;
    padding: 10px 30px;
}

.navbutton:hover {
    background-color: #ff725c;
}

h1 {
    font-size: 3.25rem;
    font-family: 'DM Serif Text', serif;
    margin: 1rem;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: 'DM Serif Text', serif;
    margin-top: 10px;
    text-align: center;
}

/* size the plane icon as if it were text */
main i {
    font-size: 300px;
    margin: 100px 0 100px 325px;
}

/* Apply animation from cssanimations.io to the place icon */
.hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #F4D03f;
}