html {
    height: 100%;
}

body {
    background-image:linear-gradient(#F4D03F, #16A085);
    font-family: 'Roboto', 'sans-serif';
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

main {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lines {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.submit-button {
    background-color: white;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 12px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 200px;
}

.navbutton {
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
    border: 2px solid white;
    padding: 10px 30px; 
}

.line1, .line2, .line3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}