html {
    height: 100%;
}

body {
    background-image:linear-gradient(#F4D03F, #16A085);
    font-family: 'Roboto', 'sans-serif';
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav {
    padding-left: 600px;
}


main {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flexbox;
    justify-content: space-between;
    text-align: center;
}

.trip-type{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: white;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 12px;
    display: inline-block;
    margin-top: 10px;
}