html {
    height: auto;
}

body {
    background-image: linear-gradient(#f4d03f, #16a085);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.navbutton {
    margin-left: 10px;
    font-family: 'DM Serif Text', serif;
    border: 2px solid white;
    padding: 10px 30px;
}

.navbutton:hover {
    background-color: #ff725c;
}

main {
    box-sizing: border-box;
}

.box {
    min-height: 300px;
    display: flex;
}

h1 {
    font-size: 3.25rem;
    font-family: 'DM Serif Text', serif;
    margin: 1rem 0;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

ul {
    padding: 0 2%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .8);
}

ul:hover {
    box-shadow:0 5px 10px rgba(0,0,0,.15);
}

ul li {
    position: relative;
    height: 3em;
    color:black;
    letter-spacing: 1px;
}

ul li:before {
    content: ".";
    display: inline-block;
    height: 3em;
    width: 1px;
    color: black;
    background: black;
    padding-left: 0;
    position: absolute;
    left: -11px;
    top: -0.1em;
}

ul:before {
    content: "●";
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: -.9em;
    top: 0.1em;
    color:black;
}

ul:after {
    content: "●";
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: -.9em;
    top: -.9em;
    color: black;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #F4D03f;
}