<h1>Welcome to the About page </h1>

<a href="/search"><button>Home page</button></a>
<a href="/aboutpage"><button>About</button></a>

<h4></h4>


<div>
	
	<p>Hi and thank you for chooising AirPrairies. We are expanding our brand new airlines so that we can make sure you are connected to the world while insuring safity, comfort and an excellent experience. Our young comppany is growing rapidly and with the help of the local investors and other co-opperations we are now among the elite in North America.
		
	</p>
	<p>This web page has been developed, tested and designed entirely by our fantastic 4 team, who put in a lot of effort and have certainly contributed to our increasing success and flourishing.</p>
	<p>We are happy to welcome you aboard our special adventure. Our customers are our first priority ! AirPrairies has made sure that our customers feel special and belonging. We also make sure that you're never far away from home, hence, we offer daily flexible flights domistically and internationally. Moreover, we do offer occasional special prices and discounts to ensure that our customers are satisfied.</p>
	<p>This webpage is meant to ensure the best possible quality and experience of usability. The Fantastic-4 team ensured customer satisfaction and complete simplicity and clearness of how to use this webpage, they have been doing plenty of testing and code reviews to ensure maximum . After choosing your origin and destination locations as well as choosing the preferred travel dates, you will instantly directed to the results page where you can simply click on "book" to book your flight if you'd like. Following that, you will be directed to a page where you are required to enter some of your personal information, and then you'll be directed to the payment page. Following your agreement to pay, you will be directed to a page that displays the successful confirmation, as well as an email to be sent directly to youe email. The webpage is quite visually appealing and certainly sparkles the prairies vibes into our hearts.</p>
	<P> You can alwasy contact us on : airprairies@gmail.com </P>
	
</div>