<h1>Welcome to the About page </h1>

<a href="/"><button>Home page</button></a>
<a href="/aboutpage"><button>About</button></a>

<h4></h4>

<div>
	
	<p>Hi fantastic four. For now I'm not going to so any pparagrahs or anything here yet. We can just focus on making sure we nail everything else and get the functionalitgy going. For now I'll just leave it like that (with no real presentation purpose). Feel free to edit this later guys. </p>

</div>