<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Air Prairies</title>

		<%# Eric Meyers CSS reset %> 
		<link rel="stylesheet" type="text/css" href="/css/css-reset.css">

		<%# Custom Style Sheet %>
		<link rel="stylesheet" type="text/css" href="/css/index-style.css">

		<%# Google fonts %>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<header>
				<div class="logobox">
					<img src="/images/Air Prairies-logos_black.png" alt="Company logo" height="200px" width="200px">
				</div>

				<nav class="top-nav">
					<a href="/">HOME</a>		
					<a href="/aboutpage">ABOUT</a>
				</nav>

			</header>


		<main>
			<form action="/searchResults" method="POST" class="search-form">
				<div class="trip-type">
					<label for="oneway"> one way : </label>
					<input class="tripchoice" name="tripchoice" value="oneway" type="radio">
	

					<label for="round"> round : </label>
					<input name="tripchoice" value="round" type="radio">
					<p></p>
				</div>
				<br>

				<label for="origin"> origin : </label>
				<select id= "origin", name = "origin">
					<option value="">------select------</option>
					<%var list= []%>

	    			<%for ( var i = 0; i < oneWayFlights.length; i++ ){%>

	    
	        		<option value="<%=oneWayFlights[i].origin%>"><%=oneWayFlights[i].origin%></option>

	            
	        
	         		<%}%>
	            
				</select>




			<label for="destination"> destination : </label>
			<select id= "destination", name = "destination">
				<option value="">------select------</option>
				<%var list= []%>

	    		<%for ( var i = 0; i < oneWayFlights.length; i++ ) { %>

	    
	        	<option  value="<%=oneWayFlights[i].origin%>"><%=oneWayFlights[i].origin%></option>

	            
	        
	        	<%}%>

	            
				</select>
				<p></p>
				<br>

				<label for="theDate">Choose your departure_date:
             		<input type="date" name="theDate" min="2020-01-01" max="2022-04-30">
    			</label>

				<br>
				<h4></h4>

	 			<button>Submit</button>


				</form>
			</main>
		</div>
	</body>
</html>