<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Air Prairies</title>

		<%# Eric Meyers CSS reset %> 
		<link rel="stylesheet" type="text/css" href="/css/css-reset.css">

		<%# Custom Style Sheet %>
		<link rel="stylesheet" type="text/css" href="/css/index-style.css">

		<%# Google fonts %>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&display=swap" rel="stylesheet">

	</head>

	<body>
		<div class="container">

			<header>

				<div class="logobox">
					<img src="/images/ap-white.png" alt="Company logo" height="150px" width="225px">
				</div>

				<nav>
					<a href="/" class="navbutton">HOME</a>		
					<a href="/aboutpage" class="navbutton">ABOUT</a>
				</nav>

			</header>


		<main>

			<form action="/searchResults" method="POST" class="lines">

				<div class="line1">

					<label  for="oneway"> One-way :
						<input name="tripchoice" value="oneway" type="radio">
					</label>
					<label for="round"> Round-trip :
						<input name="tripchoice" value="round" type="radio">
					</label>
				</div>

				<div class="line2">

					<label for="origin"> Origin : </label>
					<select id= "origin", name = "origin" class="origin">
						<option value="">------select------</option>
						<%var list= []%>

	    				<%for ( var i = 0; i < oneWayFlights.length; i++ ){%>

	        			<option value="<%=oneWayFlights[i].origin%>"><%=oneWayFlights[i].origin%></option>
	         			<%}%>
					</select>

					<label for="destination"> Destination : </label>
					<select class="destination" id= "destination", name = "destination">

						<option value="">------select------</option>
						<%var list= []%>

	    				<%for ( var i = 0; i < oneWayFlights.length; i++ ) { %>
	    
	        			<option  value="<%=oneWayFlights[i].origin%>"><%=oneWayFlights[i].origin%></option>

	        			<%}%>
	            
					</select>

				</div>

				<div class="line3">

					<label for="theDate">Departure date:
             			<input type="date" name="theDate" min="2020-01-01" max="2022-04-30">
					</label>

				</div>

	 			<button class="submit-button">Submit</button>

				</form>
			</main>
		</div>
	</body>
</html>