<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Prairies</title>

    <%# Eric Meyers CSS reset %> 
    <link rel="stylesheet" type="text/css" href="/css/css-reset.css">

    <%# Custom Style Sheet %>
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">

    <%# Google fonts %>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <form action="/reference" method="POST" onclick>
        
            <label for="bookingid"> bookingid * : </label>
            <input type="text" name="bookingid" id="abookingidge" required="">

        
            <button>Check Reference</button>
        </form>
    </div>

    <div>
 
    </div>    
</body>
        
</html>
