<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Air Prairies</title>

		<%# Eric Meyers CSS reset %> 
		<link rel="stylesheet" type="text/css" href="/css/css-reset.css">

		<%# Custom Style Sheet %>
		<link rel="stylesheet" type="text/css" href="/css/reserved-style.css">

		<%# Google fonts %>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&display=swap" rel="stylesheet">
        
        <%# cssanimations.io %>
        <link href="cssanimation.min.css" rel="stylehseet">

        <%# Font Awesome Icons %>
        <script src="https://kit.fontawesome.com/3e4aa58e53.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <header>

                <div class="logobox">
                    <img src="/images/ap-white.png" alt="Company logo" height="150px" width="225px">
                </div>
                
                <nav>
                    <a href="/" class="navbutton">HOME</a>
                </nav>
            </header>
            
            <main>

                <h1>Your flight has been reserved!</h1>
                <h2>Thank you for using Air Prairies</h2>
                
                <%# Animation and plane icon used here %>
                <i class="fas fa-plane cssanimation hu__hu__"></i>
            </main>

            </div>
    </body>



</html>