<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Air Prairies</title>

		<%# Eric Meyers CSS reset %> 
		<link rel="stylesheet" type="text/css" href="/css/css-reset.css">

		<%# Custom Style Sheet %>
		<link rel="stylesheet" type="text/css" href="/css/reserved-style.css">

		<%# Google fonts %>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <header>

                <div class="logobox">
                    <img src="/images/ap-white.png" alt="Company logo" height="150px" width="225px">
                    
				</div>
            </header>
            
            <main>

                <h1>Congrats, your flight has been reserved !!! </h1>
                <h2>Have a safe flight !!</h2>
                
            </main>

            </div>
    </body>



</html>